hr {
  border-color: #8d8959
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.list-item {
  position: relative;
  padding: 5px;
  margin: 10px;
  background-color: #31302c;
  color: #b4b18d;
  /* height: 120px; */
}

.list-item-photo {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
}

.list-item-text {
  /* left: 120px; */
  position: relative;
  /* height: 120px; */
  text-overflow: ellipsis;
  padding: 15px;
}

.list-item-title {
  margin-top: 5px;
  color: #b4b18d;
}

.list-item-description {
  margin-top: 3px;
  color: #6f6d56;
  padding: 2px;
}
